body{
    min-height:100vh;
    background-image:url(../ressource/dicewp.jpeg);
    background-size: cover;
    background-repeat: norepeat;
}
main{
    min-height:100vh;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: white;
}